textarea {
	height: 300px;
	width: 300px;
}

input {
	margin-bottom:5px;
}

body {
	margin: 10px;
}

div.buttons{
	margin-top:10px
}

button {
	margin-bottom:10px;
}


div.DivToScroll {   
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}

div.DivToScroll.dark {
    background-color: #757575;
    border: 1px solid #1f1f1f;
    color: #cecece;
}
body.body.dark-body {
    background: #464646;
    color: #cecece;
}
body.body.dark-body textarea {
    background: #d6d6d6;
    color: #3B3C3E;
    border: 1px solid #1f1f1f;
    border-radius: 4px 0 4px 0;
}
body.body.dark-body button {
    color: #3B3C3E;
}
body.body.dark-body a {
    color: #ff993f;
}

div.DivWithScroll {
    height: 300px;
    width: 300px;
    overflow:scroll;
    overflow-x:hidden;
}