<!DOCTYPE html>
<html lang="en-US">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="js/smogonTourThreadGenerator.js"></script>
	<head>
		<title>SmogTour OP Generator</title>
	</head>
	<body data-ng-app="threadApp">
		<div data-ng-controller="threadCtrl">
		<div data-ng-show="initial">
			SmogTour Username: <input type="text" data-ng-model="username"><br/>
			Season: <input type="text" data-ng-model="season"><br/>
			Tier:
			<select data-ng-model="tier">
				<option value="SV OU">SV OU</option>
				<option value="SS OU">SS OU</option>
				<option value="SM OU">SM OU</option>
			</select><br/>
			Week:
			<select data-ng-model="week">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
			</select><br/>
			<button data-ng-click="generateOP()">Generate OP for SmogTour</button>
		</div>
		<div data-ng-show="!initial">
			<div>Title: {{title}}
			<div>
				<blockquote><pre><code>
[SIZE=6][B][COLOR=#ff0000]Post "in" to participate[/COLOR][/B]. Be aware that you can only join two tours this week![/SIZE]

- This tournament will be held on the official Smogon Tournament server at [URL]http://smogtours.psim.us/[/URL].
- Send a PM to "[B]{{username}}[/B]" on SmogTours when you win your match. Do **NOT** PM the host if you lost.
- **[U]I PREFER BEING PMed ON SmogTours, SO DO IT THERE IF YOU CAN INSTEAD OF ON DISCORD[/U].**

Additionally, please note that today's tour is [B]{{tier}}[/B]! The current banlist on Smogon University is in effect.


[B]General Smogon Tour rules[/B]:
[LIST]
[*]You must have a Smogon forum account to sign up for a Smogon Tour tournament. You cannot participate if you do not post in this thread.
[*]When this tour is posted, post as quickly as you can to ensure a place in the tournament. The number of spots available will vary from week to week, and it is up to the discretion of the host on when sign-ups will be closed. On Xenforo (our current forum software), [B]YOUR POST NUMBER IS NOT ALWAYS ACCURATE[/B]. Do NOT whine to the host or on SmogTours if your post number implies you should have been in the tournament and you are not.
[*]Substitute players will only be applied in the first round and as deemed necessary by the host.
[*]If you have signed up successfully, you must stay for the entire tournament unless you have lost.
[*]You may change teams between rounds without penalty. You are, in fact, encouraged to do so to prevent your opponents from knowing your team in advance.
[*]You may only participate in two Smogon Tour tournaments per week. For example, if you play on Friday and Saturday, you are not allowed to play on Sunday. If you do, your results will be null and void and you will LOSE points.
[*][B][COLOR=#ff0000]Do not hassle the host(s) of the current tournament[/COLOR][/B].
[/LIST]
[B]Smogon Tour Battling rules:[/B]
[LIST]
[*]All tiers are based on Smogon tiers. The current status of the appropriate standard ladder will function as the prevailing tier list. If you have any question about whether a particular Pokemon is banned or not in any particular tier, reference the banlist of the appropriate ladder on PS! with '/tier'. This is not confusing. There will be no exceptions.
[*][U]Species Clause[/U]: A player cannot have two (2) of the same species of Pokemon on their team, based on National Pokedex number. For example, a player cannot have two Koffing on their team.
[*][U]Sleep Clause[/U]: A player cannot put two or more different opposing Pokemon to sleep using attacks that induce sleep to opposing Pokemon.
[*][U]Evasion Clause[/U]: A player cannot increase their Pokemon's evasion stat with a move that specifically increases evasion. Items or indirect boosts do not break this clause.
[*][U]OHKO Clause[/U]: A player cannot use a move that has a chance of instantly KOing an opposing Pokemon. For example, Horn Drill or Sheer Cold are illegal moves.
[*][U]Timer Clause[/U]: If a player exhausts the timer, that player loses.  SmogTours staff will not turn the timer off in any circumstance.
[*][U]Self-KO Clause[/U]: If a player uses a recoil move to cause a draw, that player wins. If a player uses Explosion, Selfdestruct, Destiny Bond, or Perish Song to cause a draw, that player loses. If a draw would be caused by a hold item or ability that causes recoil to the opponent, the player that controls the Pokémon with the hold item or ability wins. (This clause helps determine the winner of what would be called a tie in DPP. Later generations do not apply this clause, because their cartridge mechanics will prevent ties from happening.)
[*][U]Endless Battle Clause[/U]: A player cannot use a combination of items / moves / abilities to force a game that will never end (example: Recycle / Leppa Berry / Heal Pulse, etc).
[*][U]Moody Clause[/U]: A player can not use the ability Moody.
[*][U]Swagger Clause[/U]: A player can not use the move Swagger.		
[/LIST]
				</code></pre></blockquote>
			</div>
			<button data-ng-click="reset()">Reset</button>
			</div>
			</div>
		</div>
	</body>
</html>
